<!DOCTYPE html>
<html>
  <head>
    <title>
      Javascript array to table
    </title>
    <style>
      /* [COSMETICS - DOES NOT MATTER] */
      html, body {
        font-family: arial;
      }
      table {
        border-collapse: collapse;
      }
      table tr td {
        border: 1px solid #000;
        padding: 10px;
      }
    </style>
    <!--
    <script src="1-traditional.js"></script>
    -->
    <script src="static/2-create-element.js"></script>
  </head>
  <body>
    <!-- ALL YOU NEED IS A CONTAINER -->
    <div id="container"></div>
  </body>
</html>